/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body, html {
   font-family: Roboto;
   height: 100%;
 }

 p {
   font-size: 1.5em;
 }

 .c-section {
   padding: 100px 50px;
 }

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

#content {
  padding-top: 25px;
}

.top-pad {
  padding-top: 3rem;
}

.uppercase {
  text-transform: uppercase;
}

.nav-wrapper {
  margin: 0 25px;
}

@media only screen and (max-width: 600px){
  .nav-wrapper {
    margin: 0 5px;
  }
}

.c-hero {
  min-height: 90%;
  padding: 0 50px;
}

.c-hero-header {
  font-size: 5em;
}

.hero-subtitle {
  font-size: 24px;
  font-family: Roboto;
  line-height: 1.5em;
  width: 80%;
}

.btn-margin {
  margin: 10px;
}

.brand-logo, h1, h2, h3, .card-title {
  font-family: "Overpass";
}

.c-menu-li {
  text-transform: none;
  font-weight: normal;
  font-size: 16px;
  padding: 0 20px;
}

nav .brand-logo {
  font-size: 1.5em;
  /*text-transform: uppercase;*/
  font-weight: bold;
}

h1 {
  font-weight: bold;
}

.favicon {
  height: 100%;
  max-width: 35px;
  margin: 0 15px 0 0;
}

/*nav ul li a {
  letter-spacing: 1px;
  text-transform: uppercase;
}*/

nav ul li.active {
    background-color: #e91e63;
}

nav ul a:hover {
  background-color: #3F51B5;
}

nav ul a.grey-text.text-darken-3:hover {
  color: white !important;
}

.title-line {
  height: 5px;
  margin: 25px 0;
}

.services {
  padding: 50px 25px;
}

.services-title {
  font-size: 1em;
}

.services-icon {
  height: 85px;
  padding-top: 25px;
}

.footer-logo {
  height: 50px;
  margin-top: 20px;
}

a.page-link {
  color: rgba(0, 0, 0, 0.87);
}

.map-margin {
  margin-top: 15px;
}

/*#gform {
  padding: 0 25px;
}*/

.c-smallHead {
  font-family: Roboto;
  font-size: 16px;
  margin: 2px 0;
}

.c-margin-top-25px {
  margin-top: 25px;
}

.c-underline {
  border-bottom: 5px dashed #e91e63;
  padding-bottom: 5px;
  display: inline-block;
}

.btn {
  font-weight: bold;
}

.page-footer {
  padding-top: 0;
}

.c-services .card-title {
  font-size: 16px;
  font-weight: bold;
}

.c-line-through {
  text-decoration: line-through;
}

.c-li-span {
  font-size: 1.5em;
}

.c-guarantee {
  width: 70%;
  display: inline-block;
}

/*Mautic Form Styling*/
.mauticform_wrapper { max-width: 600px; margin: 10px auto; }
.mauticform-innerform {}
.mauticform-post-success {}
.mauticform-name { font-weight: bold; font-size: 1.5em; margin-bottom: 3px; }
.mauticform-description { margin-top: 2px; margin-bottom: 10px; }
.mauticform-error { margin-bottom: 10px; color: red; }
.mauticform-message { margin-bottom: 10px;color: green; }
.mauticform-row { display: block; margin-bottom: 20px; }
.mauticform-label { font-size: 1.1em; display: block; margin-bottom: 5px; }
.mauticform-row.mauticform-required .mauticform-label:after { color: #e32; content: " *"; display: inline; }
.mauticform-helpmessage { display: block; font-size: 0.9em; margin-bottom: 3px; }
.mauticform-errormsg { display: block; color: red; margin-top: 2px; }
.mauticform-selectbox, .mauticform-input, .mauticform-textarea { width: 100%; padding: 0.5em 0.5em; border: 1px solid #CCC; background: #fff; box-shadow: 0px 0px 0px #fff inset; border-radius: 4px; box-sizing: border-box; }
.mauticform-checkboxgrp-row {}
.mauticform-checkboxgrp-label { font-weight: normal; }
.mauticform-checkboxgrp-checkbox {}
.mauticform-radiogrp-row {}
.mauticform-radiogrp-label { font-weight: normal; }
.mauticform-radiogrp-radio {}
.mauticform-button-wrapper .mauticform-button.btn-default, .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default { color: #5d6c7c;background-color: #ffffff;border-color: #dddddd;}
.mauticform-button-wrapper .mauticform-button, .mauticform-pagebreak-wrapper .mauticform-pagebreak { display: inline-block;margin-bottom: 0;font-weight: 600;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;padding: 6px 12px;font-size: 13px;line-height: 1.3856;border-radius: 3px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.mauticform-button-wrapper .mauticform-button.btn-default[disabled], .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default[disabled] { background-color: #ffffff; border-color: #dddddd; opacity: 0.75; cursor: not-allowed; }
.mauticform-pagebreak-wrapper .mauticform-button-wrapper {  display: inline; }
