/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
  font-family: Lato;
}

#index-banner {
  padding: 2% 0;
}

.brand-logo, h1, h2, .card-title, .services-title, .brand {
  font-family: "Dosis";
}

.hero-subtitle {
  font-size: 1.5em;
}

.favicon {
  width: 40px;
  margin: 0 10px 0 0;
}

nav ul li.active {
    background-color: #e91e63;
}

nav ul li a, .hero-subtitle {
  letter-spacing: 0.8px;
}

nav ul a:hover {
    background-color: rgba(0, 188, 212, 0.1);
}

.hero-band {
  height: 18px;
}

.title-line {
  height: 5px;
  margin: 25px 0;
}

.sep-line {
  height: 25px;
}

.services {
  padding: 50px 25px;
}

.services-title {
  font-size: 2em;
}

.hero-btn {
  margin-top: 25px;
}

.services-icon {
  height: 70px;
}

a.page-link {
  color: rgba(0, 0, 0, 0.87);
}

/*Form styling*/

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=tel]:focus + label, #comments:focus + label{
  color: #3f51b5;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=tel]:focus, #comments:focus {
  border-bottom: 1px solid #3f51b5;
  box-shadow: 0 1px 0 0 #3f51b5;
}
