/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
   font-family: Roboto;
 }

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

#content {
  padding-top: 25px;
}

.top-pad {
  padding-top: 3rem;
}

.uppercase {
  text-transform: uppercase;
}

.nav-wrapper {
  margin: 0 50px;
}

.c-hero {
  min-height: 400px;
  padding: 0 50px;
}

.hero-subtitle {
  font-size: 24px;
  font-family: Roboto;
  line-height: 1.5em;
  max-width: 85%;
}

.btn-margin {
  margin: 10px;
}

.brand-logo, h1, h2, h3, .card-title {
  font-family: "Overpass";
}

nav .brand-logo {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-weight: bold;
}

.logo {
  display: flex;
}

.favicon {
  height: 100%;
  max-width: 45px;
  margin: 0 10px 0 0;
}

nav ul li a {
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav ul li.active {
    background-color: #e91e63;
}

nav ul a:hover {
  background-color: #3F51B5;
}

nav ul a.grey-text.text-darken-3:hover {
  color: white !important;
}

.title-line {
  height: 5px;
  margin: 25px 0;
}

.services {
  padding: 50px 25px;
}

.services-title {
  font-size: 1em;
}

.services-icon {
  height: 100px;
  padding-top: 25px;
}

.footer-logo {
  height: 50px;
  margin-top: 20px;
}

a.page-link {
  color: rgba(0, 0, 0, 0.87);
}

.map-margin {
  margin-top: 15px;
}

.card .card-title {
  font-weight: bold;
}
